In [1]:
ser = {
 'index':[0, 1, 2, 3],
 'data':[145, 142, 38, 13],
 'name':'songs'
 }

def get(ser,idx):
    value_idx = ser['index'].index(idx)
    return ser['data'][value_idx]


get(ser,2)

38

In [2]:
songs = {
    "index" : ['paul','john','george','ringo'],
    'data' : [145,149,67,34],
    'name':'counts'
}

get(songs,"john")

149

In [3]:
import pandas as pd

In [4]:
songs2 = pd.Series([145,12,34,67],index = [4,5,6,7],
                  name='counts')
songs2

4    145
5     12
6     34
7     67
Name: counts, dtype: int64

In [5]:
songs2.index

Int64Index([4, 5, 6, 7], dtype='int64')

In [6]:
songs3 = pd.Series([145, 142, 38, 13],
name='counts',
index=['Paul', 'John', 'George', 'Ringo'])

songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [7]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [8]:
# page_17

In [9]:
class foo:
    pass


ringo = pd.Series(
                    ['Richard', "Shahzaib", 9, foo()],
                    name = "ringo")

ringo

0                                        Richard
1                                       Shahzaib
2                                              9
3    <__main__.foo object at 0x000001323E85D150>
Name: ringo, dtype: object

## The NAN value

In [10]:
nan_ser = pd.Series([13,None], index = ['0ho','Claption'])
nan_ser

# One thing to note is that the type of this series is float64, not int64!
# This is because the only numeric column that supports NaN is the float
# column. When pandas sees numeric data (2) as well as the None, it
# coerced the 2 to a float value

0ho         13.0
Claption     NaN
dtype: float64

In [11]:
print(nan_ser.count())
print(nan_ser['Claption'])
print(nan_ser['0ho'])

1
nan
13.0

In [16]:
songs3[1]
songs3["John"]
songs3.mean()

84.5

In [18]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [20]:
mask = songs3  > songs3.median()
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [21]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64